@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<button class="btn-floating btn-large waves-effect waves-light green modal-trigger" id="add-transaction"
        data-target="modal1">
    <i class="material-icons">add</i>
</button>

<div class="container" id="log-container">
    <div id="modal1" class="modal">
        <div class="row">
            <div id="add-transaction-form" class="col s12">
                <h4 class="col s12" style="text-align: center; text-transform: uppercase; margin-top: 30px">Add new transaction</h4>
                <form>
                    <div class="input-field">
                        <i class="material-icons prefix">storage</i>
                        <div class="select-wrapper" id="list-category"></div>
                        <label for="category">Category</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="cost" type="text" class="validate">
                        <label for="cost">Cost</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">today</i>
                        <input id="add-transaction__date" class="datepicker" type="date" class="validate">
                        <label for="add-transaction__date">Date</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">account_balance_wallet</i>
                        <div class="select-wrapper" id="list-wallet"></div>
                        <label for="wallet">Wallet</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">create</i>
                        <input id="note" type="text" class="validate">
                        <label for="note">Note</label>
                    </div>

                    <div class="center-button" style="margin-top: 25px">
                        <button id="add-transaction-btn" class="btn waves-effect waves-light">
                            ADD
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row overview-wrapper">
        <div class="col s4 overview">
            <div class="row">
                <p class="col" style="font-weight: bold">Overview</p>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s5">
                    <ul class="overview-content">
                        <li style="color: #00e676">Income</li>
                        <li style="color: #f44336">Expense</li>
                        <li>Total</li>
                    </ul>
                </div>
                <div class="col s7">
                    <ul style="text-align: right" class="overview-content">
                        <li style="color: #00e676">30.000.000</li>
                        <li style="color: #f44336">21.000.000</li>
                        <div class="divider"></div>
                        <li>9.000.000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s8 graph">
            <div class="col s4"></div>
            <div class="col s4"></div>
            <div class="col s4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row logtable">
            <script type="text/template" id="list_log">
                <ul class="collapsible col s10 offset-s1" data-collapsible="accordion">
                    <%_.each(list, function(object) { %>
                    <li>
                        <div class="collapsible-header">
                            <span class="log-day"><%- object.logday %></span>
                            <span class="log-weekday"><%- object.logweekday %></span>
                            <span class="log-month"><%- object.logmonth %></span>
                            <i class="material-icons">keyboard_arrow_down</i>
                            <span class="consum-day"><%- object.cost %></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <%_.each(object.listlog, function(data) { %>
                                <li class="row">
                                    <img class="col s1 log-cate-icon" style="margin-top: 5px" src="<%- data.CategoryLink %>" alt="" />
                                    <span class="col s3 log-cate-name"><%- data.CategoryName %></span>
                                    <span class="col s6 log-description"><%- data.Note %></span>
                                    <span class="col s2 log-money"><%- data.Cost %></span>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </script>
        </div>
    </div>

    <script type="text/template" id="list_cate_template">
        <div class="select-wrapper">
            <select id="cate-input" class="icons initialized">
                <option value="" disabled="" selected="">Choose you option</option>
                <%_.each(list, function(object) { %>
                <option value="<%-object.Id%>" data-icon="<%-object.Link%>" class="left circle"><%-object.CategoryName %></option>
                <% }) %>
            </select>
        </div>
    </script>

    <script type="text/template" id="list_wallet_template">
        <div class="select-wrapper">
            <select id="wallet-input" class="icons initialized">
                <option value="" disabled="" selected=""></option>
                <%_.each(list, function(object) { %>
                <option value="<%-object.Id%>" data-icon="<%-object.Link%>" class="left circle"><%-object.Name %></option>
                <% }) %>
            </select>
        </div>
    </script>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            WalletsController.init();
            CategoriesController.init();
           
            //var list_log = {
            //    "activity": [
            //        {
            //            "logday": 12,
            //            "logweekday": "Monday",
            //            "logmonth": "September",
            //            "consumday": 1000000,
            //            "listlog": [
            //                ["favorite", "Gấu", "Mời gấu đi ăn", "1.000.000"],
            //                ["favorite", "Gấu", "Mời gấu đi ăn", "1.000.000"]
            //            ]
            //        },
            //        {
            //            "logday": 12,
            //            "logweekday": "Monday",
            //            "logmonth": "September",
            //            "consumday": 1000000,
            //            "listlog": [
            //                ["favorite", "Gấu", "Mời gấu đi ăn", "1.000.000"],
            //                ["favorite", "Gấu", "Mời gấu đi ăn", "1.000.000"]
            //            ]
            //        }
            //    ]
            //}

            $.ajax({
                type: "GET",
                url: "/api/activitylogs",
                data: "",
                success: (data) => {
                    var template = _.template($("#list_log").html());
                    $(".logtable").html(template({
                        list: data
                    }));
                    $('.collapsible').collapsible({
                        accordion: false
                    });
                },
                error: (response) => {console.log(response)}
            });

            $('.modal-trigger').leanModal();

            $("#add-transaction-btn").click(function (e) {
                e.preventDefault();
                var data = {
                    "CategoryId": $("#cate-input").val(),
                    "Cost": $("#cost").val(),
                    "DateTime": $("#add-transaction__date").val(),
                    "WalletId": $("#wallet-input").val(),
                    "Note": $("#note").val()
                }
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/api/activitylogs",
                    data: data,
                    success: (response) => {
                        alert("New transaction has been added");
                    },
                    error: () => {
                        alert("Failed");
                    }
                });
            });
        });

        setTimeout(() => {
            $('.collapsible').collapsible({
                accordion: false
            });
        }, 500);

        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>

}
